# --- Bỏ qua các thư mục build (Cả tên cũ và tên mới) ---
build/
build_rpi4/

# --- GIỮ LẠI các file cấu hình quan trọng ---
!build/conf/local.conf
!build/conf/bblayers.conf
!build_rpi4/conf/local.conf
!build_rpi4/conf/bblayers.conf

# --- Bỏ qua rác hệ thống ---
*.o
*.swp
*~
downloads/
sstate-cache/
tmp/

# --- GIỮ LẠI CÁC FILE CỦA BẠN ---
!*.sh
!*.txt
!*.md
!*.pdf
!*.log
!*.docx

# --- Bỏ qua rác Python sinh ra ---
__pycache__/
*.pyc
